@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:700,300');

body
{
	background-color: #333;
	color: #ccc;
	font-family: 'Libre Franklin', sans-serif;

}

h1 {
	color: #eee;
	font-weight: 100;
	font-size: 6vw;
	margin: 1em 0 1em 0;
	text-align: center;
	letter-spacing: -0.02em;
}
@media print, screen and (max-width: 80em) {
h1 { 
	font-size: 12vw; margin: 1em 0 1em 0;}
	}
	
h2 {
	padding: 10vw;
	font-weight: 100;
	font-size: 4vw;
	}
h3 {
	 font-weight: 100;
	 font-size: 2.22em;
	}

.callout {
	background: #bbb;
	border: none;
	padding: 10vw;
	color: #222;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
}

iframe {
width: 80%;
height: 50vw;
padding: 0;
margin: 0px;
	}
a {
	color:#059;
	font-weight: 700;
}
a:hover {
	color:#069;
}
.arke {
	color: #555;
}
.margie {
		margin-top: 10vh;

}
.slow {
  transition-duration: 750ms !important; }
  
.ease {
  transition-timing-function: ease !important; }

